@model CompanyManager.DatabaseAccessLayer.Context.Rate

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Норма</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumptionRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumptionRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasteRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasteRate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Обратно к списку", "Index")
</p>
