@model CompanyManager.Models.CreateRateViewModel

@{
    ViewBag.Title = "Изменить";
}

<h2>Изменить</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Норма</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RateViewModel.Id)

        <div class="form-group">
            @Html.Label("Продукт", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.RateViewModel.ProductId, 
                    new SelectList(Model.Products, "ProductId", "ProductName", Model.RateViewModel.ProductId), 
                    htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RateViewModel.ProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Материал", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.RateViewModel.MaterialId, 
                    new SelectList(Model.Materials, "Id", "MaterialName", Model.RateViewModel.MaterialId),
                    htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RateViewModel.MaterialId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RateViewModel.ConsumptionRate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.RateViewModel.ConsumptionRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RateViewModel.ConsumptionRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RateViewModel.WasteRate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.RateViewModel.WasteRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RateViewModel.WasteRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Обратно к списку", "Index")
</div>
