@model IEnumerable<CompanyManager.DatabaseAccessLayer.Context.Rate>

@{
    ViewBag.Title = "Справочник норм";
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    function toggleContains(value, tdClass) {
        $("tr>td." + tdClass + ":not(:contains('" + value + "'))").parent().hide();
    }
    $(document).ready(function () {
        $("#materialName,#productCode,#productName").on("input paste", function () {
            var value1 = $("#materialName").val();
            var value2 = $("#productCode").val();
            var value3 = $("#productName").val();
            $("tr").show();
            toggleContains(value1, "mn");
            toggleContains(value2, "pc");
            toggleContains(value3, "pn");
        });
    });

</script>

<h2>Справочник норм</h2>

<div class="row">
    <div class="col-md-2">
        <p>
            @Html.ActionLink("Добавить", "Create")
        </p>
    </div>
    <div class="col-md-1">
        @Html.DisplayName("Наименование материала")        
    </div>
    <div class="col-md-2">
        @Html.TextBox("materialName", null, new { @id = "materialName" })
    </div>
    <div class="col-md-1">
        @Html.DisplayName("Обозначение")
    </div>
    <div class="col-md-2 ">
        @Html.TextBox("productCode", null, new { @id = "productCode" })
    </div>
    <div class="col-md-1">
        @Html.DisplayName("Наименование продукта")        
    </div>
    <div class="col-md-1 ">
        @Html.TextBox("productName", null, new { @id = "productName" })
    </div>
</div>

<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Material.Code)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Material.MaterialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Annotation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumptionRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WasteRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td class="mc">
            @Html.DisplayFor(modelItem => item.Material.Code)
        </td>*@
        <td class="mn">
            @Html.DisplayFor(modelItem => item.Material.MaterialName)
        </td>
        <td class="pc">
            @Html.DisplayFor(modelItem => item.Product.Annotation)
        </td>
        <td class="pn">
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsumptionRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WasteRate)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
